# SUBJECT
MIN_AGE=5
MAX_AGE=90


# PATHOLOGY
PROB_INFECTION=0.15
PROB_DEATH=0.03
EXPOSED_MAX_DAY=7
INFECTIOUS_MAX_DAY=14


# PREVENTION MASK
MASK_PROB_INFECTION=0.2
MASK_PROB_DEATH=1
MASK_PERC_ACTIVATION=0.4

# PREVENTION ISOLATION
ISOLATION_PROB_INFECTION=0.5
ISOLATION_PROB_DEATH=1
ISOLATION_PERC_ACTIVATION=0.2

# PREVENTION VACCINE
VACCINE_PROB_INFECTION=1
VACCINE_PROB_DEATH=0.05
VACCINE_PERC_ACTIVATION=0.6


# BOARD
DIMENSION=51
CELL_SICK_LOCATION=25


# REPORT
OUTPUT_BASE_DIR='./'
OUTPUT_BOARD_RESOLUTION=800
OUTPUT_BOARD_DPI=96
